.homegraphic {
  width: 40vw;
  height: 60vh;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

@media screen and (max-width: 640px) {
  .homegraphic {
    width: 90vw;
    height: 40vh;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}
