@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap");

.thumbnail-link {
  text-decoration: none;
  color: black;
}

.project {
  width: 50%;
  margin-bottom: 1em;
}

.mobile-details {
  display: none;
}

.project-image {
  display: block;
  position: relative;
  height: 60vh;
  overflow: hidden;
}

.project-showcase {
  display: block;
  width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: blue;
}

.project-image:hover .overlay {
  opacity: 1;
}

.overlay-text {
  color: white;
  font-size: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.links {
  margin: auto;
  margin-top: 3%;
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.project-title {
  font-size: 18px;
}

.project-general {
  margin-top: 1em;
}

@media screen and (max-width: 640px) {
  .project {
    width: 80%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    border: 1px solid black;
    margin-bottom: 5em;
    padding-left: 1em;
    padding-right: 1em;
  }
  .mobile-details {
    display: block;
  }
  .project-image {
    display: none;
  }
  .overlay-text {
    font-size: 10px;
  }
  img {
    height: 1em;
    width: 1em;
  }
  .overlay {
    width: 100%;
    height: 80%;
  }
  .project-general {
    margin-top: 0;
  }
  .project-category {
    display: none;
  }
  .project-title {
    display: none;
  }
  .mobile-link,
  .mobile-github {
    height: 1.5em;
    width: 1.5em;
    margin-bottom: 1em;
    margin-top: 1em;
  }
  .project-title-mobile {
    font-size: 18px;
    margin-bottom: 1em;
    margin-top: 1em;
  }
  .mobile-description {
    font-size: 12px;
    margin-bottom: 1em;
  }
  .mobile-links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}
